<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Yoga-Test</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-------------Iconic font------------->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="../style/partials/font-awesome.min.css">-->
    <!-------------Owl-Carousel plugin------------->
    <link rel="stylesheet" href="../style/partials/owl.carousel.css">
    <!--<link rel="stylesheet" href="style/partials/owl.theme.default.css">-->
    <!-------------Main stylesheet------------->
    <link rel="stylesheet" href="../style/main.css">


</head>
<body>