/*
* Third Party
*/
@import "../../bower_components/normalize.css/normalize.css";


/*
* Custom
*/
@import "partials/variable";
@import "custom-grid";
@import "style";
@import "media";

/*
* Fonts
 */
@font-face {
  font-family: 'Champagne&Limousines';
  src: url('../fonts/Champagne & Limousines.ttf');
}
@font-face {
  font-family: 'OpenSans-Semibold';
  src: url('../fonts/OpenSans-Semibold.ttf');
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'Freestyle-Script';
  src: url('../fonts/freescript.ttf');
}

